<div  class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let image of images;let index=index;">
      
      <div class="card">
        
         <img *ngIf="!isLoadAllImages" src="assets/loading.gif" class="card-img-top" alt="..."> 
        <img [src]=image class="card-img-top {{ isLoadAllImages?'img-normal':'img-zero'}}" (load)="onImagesLoaded()" alt="...">
        <div class="card-body">
          <h5 class="card-title">No soy la imagen impostora! </h5>
          <a (click)="userSelectItem(index)" class="btn btn-primary">Seleccionar</a>
           </div>
      </div>
    </div>
     
  </div>